In [1]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\anmol\OneDrive\Desktop\RESOURCES\Cipherschools\cipherschools python visualization\tmdb_5000_movies.csv")
data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [8]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.shape

(4803, 20)

In [12]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [15]:
data.index 
#row numbers

RangeIndex(start=0, stop=4803, step=1)

In [19]:
data.head()
#first 5 rows

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [20]:
data.tail()
#last 5 rows

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [23]:
print(data.tail(4))
print(data.head(11))

      budget                                             genres  \
4799    9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800       0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801       0                                                 []
4802       0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                 original_title  \
4799                  Newlyweds
4800  Signed, Sealed, Delivered
4801           Shanghai Calling
4802          My Date with Drew

                                               overview  popularity  \
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  revenue  \
4799                                                 []   2011-12-26        0
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13        0
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03        0
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05        0

      runtime                          spoken_languages    status  \
4799     85.0                                        []  Released
4800    120.0  [{"iso_639_1": "en", "name": "English"}]  Released
4801     98.0  [{"iso_639_1": "en", "name": "English"}]  Released
4802     90.0  [{"iso_639_1": "en", "name": "English"}]  Released

                                                tagline  \
4799  A newlywed couple's honeymoon is upended by th...
4800                                                NaN
4801                           A New Yorker in Shanghai
4802                                                NaN

                          title  vote_average  vote_count
4799                  Newlyweds           5.9           5
4800  Signed, Sealed, Delivered           7.0           6
4801           Shanghai Calling           5.7           7
4802          My Date with Drew           6.3          16
       budget                                             genres  \
0   237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1   300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2   245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3   250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4   260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5   258000000  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6   260000000  [{"id": 16, "name": "Animation"}, {"id": 10751...
7   280000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8   250000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9   250000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
10  270000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...

                                             homepage      id  \
0                         http://www.avatarmovie.com/   19995
1        http://disney.go.com/disneypictures/pirates/     285
2         http://www.sonypictures.com/movies/spectre/  206647
3                  http://www.thedarkknightrises.com/   49026
4                http://movies.disney.com/john-carter   49529
5     http://www.sonypictures.com/movies/spider-man3/     559
6        http://disney.go.com/disneypictures/tangled/   38757
7   http://marvel.com/movies/movie/193/avengers_ag...   99861
8   http://harrypotter.warnerbros.com/harrypottera...     767
9        http://www.batmanvsupermandawnofjustice.com/  209112
10                            http://www.superman.com    1452

                                             keywords original_language  \
0   [{"id": 1463, "name": "culture clash"}, {"id":...                en
1   [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2   [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3   [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4   [{"id": 818, "name": "based on novel"}, {"id":...                en
5   [{"id": 851, "name": "dual identity"}, {"id": ...                en
6   [{"id": 1562, "name": "hostage"}, {"id": 2343,...                en
7   [{"id": 8828, "name": "marvel comic"}, {"id": ...                en
8   [{"id": 616, "name": "witch"}, {"id": 2343, "n...                en
9   [{"id": 849, "name": "dc comics"}, {"id": 7002...                en
10  [{"id": 83, "name": "saving the world"}, {"id"...                en

                              original_title  \
0                                     Avatar
1   Pirates of the Caribbean: At World's End
2                                    Spectre
3                      The Dark Knight Rises
4                                John Carter
5                               Spider-Man 3
6                                    Tangled
7                    Avengers: Age of Ultron
8     Harry Potter and the Half-Blood Prince
9         Batman v Superman: Dawn of Justice
10                          Superman Returns

                                             overview  popularity  \
0   In the 22nd century, a paraplegic Marine is di...  150.437577
1   Captain Barbossa, long believed to be dead, ha...  139.082615
2   A cryptic message from Bond’s past sends him o...  107.376788
3   Following the death of District Attorney Harve...  112.312950
4   John Carter is a war-weary, former military ca...   43.926995
5   The seemingly invincible Spider-Man goes up ag...  115.699814
6   When the kingdom's most wanted-and most charmi...   48.681969
7   When Tony Stark tries to jumpstart a dormant p...  134.279229
8   As Harry begins his sixth year at Hogwarts, he...   98.885637
9   Fearing the actions of a god-like Super Hero l...  155.790452
10  Superman returns to discover his 5-year absenc...   57.925623

                                 production_companies  \
0   [{"name": "Ingenious Film Partners", "id": 289...
1   [{"name": "Walt Disney Pictures", "id": 2}, {"...
2   [{"name": "Columbia Pictures", "id": 5}, {"nam...
3   [{"name": "Legendary Pictures", "id": 923}, {"...
4         [{"name": "Walt Disney Pictures", "id": 2}]
5   [{"name": "Columbia Pictures", "id": 5}, {"nam...
6   [{"name": "Walt Disney Pictures", "id": 2}, {"...
7   [{"name": "Marvel Studios", "id": 420}, {"name...
8   [{"name": "Warner Bros.", "id": 6194}, {"name"...
9   [{"name": "DC Comics", "id": 429}, {"name": "A...
10  [{"name": "DC Comics", "id": 429}, {"name": "L...

                                 production_countries release_date  \
0   [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1   [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2   [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3   [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4   [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
5   [{"iso_3166_1": "US", "name": "United States o...   2007-05-01
6   [{"iso_3166_1": "US", "name": "United States o...   2010-11-24
7   [{"iso_3166_1": "US", "name": "United States o...   2015-04-22
8   [{"iso_3166_1": "GB", "name": "United Kingdom"...   2009-07-07
9   [{"iso_3166_1": "US", "name": "United States o...   2016-03-23
10  [{"iso_3166_1": "US", "name": "United States o...   2006-06-28

       revenue  runtime                                   spoken_languages  \
0   2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1    961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2    880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3   1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4    284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
5    890871626    139.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
6    591794936    100.0           [{"iso_639_1": "en", "name": "English"}]
7   1405403694    141.0           [{"iso_639_1": "en", "name": "English"}]
8    933959197    153.0           [{"iso_639_1": "en", "name": "English"}]
9    873260194    151.0           [{"iso_639_1": "en", "name": "English"}]
10   391081192    154.0  [{"iso_639_1": "en", "name": "English"}, {"iso...

      status                                         tagline  \
0   Released                     Enter the World of Pandora.
1   Released  At the end of the world, the adventure begins.
2   Released                           A Plan No One Escapes
3   Released                                 The Legend Ends
4   Released            Lost in our world, found in another.
5   Released                              The battle within.
6   Released        They're taking adventure to new lengths.
7   Released                             A New Age Has Come.
8   Released                           Dark Secrets Revealed
9   Released                              Justice or revenge
10  Released                                             NaN

                                       title  vote_average  vote_count
0                                     Avatar           7.2       11800
1   Pirates of the Caribbean: At World's End           6.9        4500
2                                    Spectre           6.3        4466
3                      The Dark Knight Rises           7.6        9106
4                                John Carter           6.1        2124
5                               Spider-Man 3           5.9        3576
6                                    Tangled           7.4        3330
7                    Avengers: Age of Ultron           7.3        6767
8     Harry Potter and the Half-Blood Prince           7.4        5293
9         Batman v Superman: Dawn of Justice           5.7        7004
10                          Superman Returns           5.4        1400

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [25]:
data.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000