### moving further to create series after learning series|

In [2]:
import pandas as pd

In [3]:
movies_data = pd.read_csv(r"C:\Users\anmol\OneDrive\Desktop\RESOURCES\Cipherschools\cipherschools python visualization\tmdb_5000_movies.csv")

In [4]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
type(movies_data['runtime'])

pandas.core.series.Series

In [7]:
anime = ['one piece','one punch','my hero academia','doraemon','pokemin','attack on titans','dangers in my heart','naruto','bleach']

In [8]:
anime

['one piece',
 'one punch',
 'my hero academia',
 'doraemon',
 'pokemin',
 'attack on titans',
 'dangers in my heart',
 'naruto',
 'bleach']

In [9]:
anime_series = pd.Series(anime)

In [10]:
anime_series

0              one piece
1              one punch
2       my hero academia
3               doraemon
4                pokemin
5       attack on titans
6    dangers in my heart
7                 naruto
8                 bleach
dtype: object

In [17]:
#we will create a sereis where we will pass anime name as the index of the series we are gonna create that will contain the genre of the anime
genre = ['shonen','adventure','sport','shonen','isekai','shonen','action','kodomon','shonen']

In [18]:
anime_series = pd.Series(anime,name='my anime list')

In [19]:
anime_series

0              one piece
1              one punch
2       my hero academia
3               doraemon
4                pokemin
5       attack on titans
6    dangers in my heart
7                 naruto
8                 bleach
Name: my anime list, dtype: object

In [22]:
genre_series = pd.Series(genre, index=anime, name='full list along with genre')

In [23]:
genre_series

one piece                 shonen
one punch              adventure
my hero academia           sport
doraemon                  shonen
pokemin                   isekai
attack on titans          shonen
dangers in my heart       action
naruto                   kodomon
bleach                    shonen
Name: full list along with genre, dtype: object

In [25]:
#trying to pass another series instead of the list as the index
genre_series = pd.Series(genre, index=anime_series, name='anime list')
genre_series

my anime list
one piece                 shonen
one punch              adventure
my hero academia           sport
doraemon                  shonen
pokemin                   isekai
attack on titans          shonen
dangers in my heart       action
naruto                   kodomon
bleach                    shonen
Name: anime list, dtype: object

### similarly we can pass np array as well instead of the list or the panda series, or an data like the tuples etc.

In [26]:
#eg trying with array

In [27]:
import numpy as np

In [28]:
anime2 = np.array( ['one piece','one punch','my hero academia','doraemon','pokemin','attack on titans','dangers in my heart','naruto','bleach'])

In [29]:
genre2 = np.array(['shonen','adventure','sport','shonen','isekai','shonen','action','kodomon','shonen'])

In [30]:
genre_series2 = pd.Series(genre2, index=anime2, name='alternate')
genre_series2

one piece                 shonen
one punch              adventure
my hero academia           sport
doraemon                  shonen
pokemin                   isekai
attack on titans          shonen
dangers in my heart       action
naruto                   kodomon
bleach                    shonen
Name: alternate, dtype: object

### working with dictionary

In [32]:
dic = {
    'one piece' : 'shonen',
    'one punch': 'adventure',
    'my hero academia': 'shonen',
    'doraemon': 'isekai',
    'pokemin': 'sport',
    'attack on titans': 'action',
    'dangers in my heart':'shonen' ,
    'naruto': 'sport',
    'bleach': 'shonen'
}

In [33]:
pd.Series(dic,name='anime_genre')

one piece                 shonen
one punch              adventure
my hero academia          shonen
doraemon                  isekai
pokemin                    sport
attack on titans          action
dangers in my heart       shonen
naruto                     sport
bleach                    shonen
Name: anime_genre, dtype: object

### during reading csv we can convert the dataframe into series or can select only the desired columns

In [38]:
#here we are trying to read just few colmns 
data = pd.read_csv(r"C:\Users\anmol\OneDrive\Desktop\RESOURCES\Cipherschools\cipherschools python visualization\tmdb_5000_movies.csv", usecols=['runtime','genres'])

In [37]:
data

                                                 genres  runtime
0     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    162.0
1     [{"id": 12, "name": "Adventure"}, {"id": 14, "...    169.0
2     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    148.0
3     [{"id": 28, "name": "Action"}, {"id": 80, "nam...    165.0
4     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    132.0
...                                                 ...      ...
4798  [{"id": 28, "name": "Action"}, {"id": 80, "nam...     81.0
4799  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...     85.0
4800  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...    120.0
4801                                                 []     98.0
4802                [{"id": 99, "name": "Documentary"}]     90.0

[4803 rows x 2 columns]

In [39]:
#can also read one colmn but it will still be in dataframe until we convert it into series

In [42]:
#data =  pd.read_csv(r"C:\Users\anmol\OneDrive\Desktop\RESOURCES\Cipherschools\cipherschools python visualization\tmdb_5000_movies.csv", 
                    #usecols=['runtime'], squeeze = True)
#error since squeeze no longer fuctions

In [46]:
data =  pd.read_csv(r"C:\Users\anmol\OneDrive\Desktop\RESOURCES\Cipherschools\cipherschools python visualization\tmdb_5000_movies.csv", 
                    usecols=['runtime'])['runtime']
#newer way to convert into series form dataframe

In [47]:
data

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [48]:
type(data)

pandas.core.series.Series